<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/aluno/home}">
	
<body>
	<div layout:fragment="content">
		<h1 th:if="${aluno.id == null}">Cadastrar Aluno</h1>
		<h1 th:if="${aluno.id != null}">Atualizar Aluno</h1>
		
		 <div id="mensagemErro" th:if="${msgErro != null}">
			<span th:text="${msgErro}"></span> 
		</div> 
		
		 <div id="mensagemSucesso" th:if="${msgSucesso != null}">
			<span th:text="${msgSucesso}"></span> 
		</div> 
		
		<div th:if="${msgErro != null|| msgSucesso != null}">
			<br/>
		</div>
		
		<div>
			<form method="post" th:action="${aluno.id == null} ? @{/public/aluno/cadastrar} : @{/aluno/save}" th:object="${aluno}" id="form-cadastro">
				<fieldset>
					<input type="hidden" name="id" th:value="${aluno.id}">
					<div id="mensagemErro" th:if="${#fields.hasErrors('nome')}" >
						<span th:errors="*{nome}"></span> 
						<br/> 
					</div> 
					<label for="nome">Nome: </label><br/>
					<input type="text" id="nome" placeholder=" Informe seu nome" required="required" th:field="*{nome}" /> <br/><br/>
					
					<div id="mensagemErro" th:if="${#fields.hasErrors('email')}">
						<span th:errors="*{email}"></span>
						<br/>  
					</div> 
					
					<label for="email">E-mail: </label><br/>
					<input type="email" id="email" placeholder=" Informe um e-mail..." required="required" th:field="*{email}" /> <br/> <br/>
					
					<div th:if="${aluno.id == null}">
						<div id="mensagemErro" th:if="${#fields.hasErrors('senha')}">
							<span th:errors="*{senha}"></span> 
							<br/> 
						</div>
						<label for="senha">Senha: </label><br/>
						<input type="password" id="senha" placeholder=" Informe uma senha..." th:required="${aluno.id == null} ? 'required' : ''" /> <br/> <br/>
						
						<div id="mensagemErroValidacaoJS" style="display: none;">
							<span>Senhas diferentes!</span> 
							<br/> 
						</div>
						
						<label for="senhaRepetida">Confirme sua senha: </label><br/>
						<input type="password" id="senhaRepetida" placeholder=" Confirme sua senha..." th:field="*{senha}"  th:required="${aluno.id == null} ? 'required' : ''" onchange="isSenhaIguais();"/> <br/> <br/>
					</div>	
					
					<input type="hidden" name="senha" value="*" th:if="${aluno.id != null}">
					
					<input type="submit" onclick="isSenhaIguais();" th:value="${aluno.id == null} ? 'Cadastrar' : 'Atualizar'"  />
				</fieldset>
			   </form>
			</div> <br/> <br/>
		
			<input type="button" value="Voltar" th:onclick="'location.href=\'' + @{/aluno/home} + '\';'" />
	</div>
	</body>
</html>