<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/coordenador/home}">
	
<body>
	<div layout:fragment="content">
		
		<div id="mensagemSucesso" th:if="${msgSucesso != null}">
			<span th:text="${msgSucesso}"></span> 
		</div> 
	
		<div th:if="${msgSucesso != null}">
			<br/>
		</div>
	
		<div>
			<input type="button"  id="botaoOpcao" value="Meus dados" th:onclick="'location.href=\'' + @{/coordenador/atualizar} + '\';'"/> 
			<input type="button"  id="botaoOpcao" value="Cursos" th:onclick="'location.href=\'' + @{/coordenador/cursos} + '\';'" /> <br/>
			<input type="button"  id="botaoOpcao" value="Alunos"th:onclick="'location.href=\'' + @{/coordenador/alunos} + '\';'"/> 
			<input type="button"  id="botaoOpcao" value="Professores" th:onclick="'location.href=\'' + @{/coordenador/professores} + '\';'"/> <br/>
			<input type="button"  id="botaoOpcao" value="Permissões" th:onclick="'location.href=\'' + @{/coordenador/permissoes} + '\';'" />
			<input type="button"  id="botaoOpcao" value="Comunicados" th:onclick="'location.href=\'' + @{/coordenador/comunicados} + '\';'" /> <br/>
			<input type="button"  id="botaoOpcao" value="Sair" th:onclick="'location.href=\'' +@{/logout} + '\';'" />
		</div>
		
		<span id="opcaoTitulo">Cursos em andamento</span> <br/> <br/>  <br/> <br/>
		<div th:each="curso : ${cursosEmAndamento}">
			<input id="btnMaisLargo" type="button"  th:value="${curso.nome}" th:onclick="'location.href=\'' + @{/coordenador/curso} + '?id=' + ${curso.id} + '\';'" /> <br/>			
		</div> <br/><br/>
	</div>
</body>
</html>