<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" th:with="link=@{/professor/home}">
	
<body>
	<div layout:fragment="content">

		<div>
			<input type="button"  id="botaoOpcao" value="Meus dados" th:onclick="'location.href=\'' + @{/professor/atualizar} + '\';'"/> 
			<input type="button"  id="botaoOpcao" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'" />
		</div>
		
		<div id="divMaisLargo">
			<span id="opcaoTitulo">Meus Cursos</span> <br/> <br/>  <br/> <br/>
			<div th:each="curso : ${cursos}">
				<input id="btnMaisLargo" type="button"  th:value="${curso.nome}" th:onclick="'location.href=\'' + @{/professor/curso} + '?curso=' + ${curso.id} + '\';'" /> <br/>
			</div>
		</div>
		
		<div th:if="${cursos != null && cursos.size() > 0}">
			<br/><br/>
		</div> 
		
		<div id="divComunicado" th:if="${cursos != null && cursos.size() == 0}">
			<span>Professor não está lecionando nenhum curso no momento</span>
		</div>  <br/> <br/>
		
		<div id="divMaisLargo">
			<span id="opcaoTitulo">Atividades em aberto</span> <br/> <br/>  <br/> <br/>
			<div th:each="atividade : ${atividadesEmAberto}">
				<input id="btnMaisLargo" type="button" th:value="${atividade.titulo}" th:onclick="'location.href=\'' + @{/professor/curso/atividades/verAtividade} + '?idAtividade=' + ${atividade.id} + '\';'"/> <br/> 
			</div>
		</div>
		<div th:if="${atividadesEmAberto != null && atividadesEmAberto.size() > 0}">
			<br/><br/>
		</div> 
		
		<div id="divComunicado" th:if="${atividadesEmAberto != null && atividadesEmAberto.size() == 0}">
			<span>Nenhuma atividade em aberto até o momento</span>
		</div>  <br/> <br/>
		
	</div>
</body>
</html>